# Flutter & Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
generated_plugin_registrant.dart

# iOS specific
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

# Android specific
android/.gradle/
android/app/build/
android/gradle/wrapper/
android/gradlew
android/gradlew.bat
android/local.properties
android/key.properties

# Web specific
web/.dart_tool/
web/build/

# macOS specific
macos/Flutter/ephemeral/
macos/build/
macos/.symlinks/

# Windows specific
windows/flutter/ephemeral/
windows/build/
windows/.dart_tool/

# Linux specific
linux/flutter/ephemeral/
linux/build/
linux/.dart_tool/

# VS Code specific
.vscode/
.idea/
*.iml

# JetBrains IDEs
*.ipr
*.iws
*.idea/
*.iml
*.jks

# Miscellaneous
*.log
*.DS_Store
*.lock
*.bak
*.swp
*.swo
*.swn

# Firebase & Google Services
firebase.json
google-services.json
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
